.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ddd;
}
.navbar-logo {
  font-weight: bold;
  font-size: 1.5rem;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}